In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#1

df = pd.read_csv('medical_examination.csv')
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [3]:
# 2

df['overweight'] = np.where((df['weight']/(df['height']/100)**2) > 25, '1', '0')

In [ ]:
#3

df['cholesterol'] = np.where(df['cholesterol'] > 1, '1', '0')
df['gluc'] = np.where(df['gluc'] > 1, '1', '0')

In [5]:
# 4
def draw_cat_plot():
        # 5
    df_cat = pd.melt(
                df,
                id_vars=['cardio'],
                value_vars=['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'overweight'],
                var_name='variable',
                value_name='value'
    )      

        # 6
    df_cat = (
                df_cat
                .groupby(['cardio', 'variable', 'value'], observed=True)
                .size()
                .reset_index(name='total')
    )    

    # 7
    fig = sns.catplot(x = "variable", y = "total", data = df_cat, hue = "value", kind = "bar", col = "cardio").fig


    # 8
    


    # 9
    fig.savefig('catplot.png')
    return fig

In [ ]:
# 10
def draw_heat_map():
    # 11
    df_heat = df[(df['ap_lo']<=df['ap_hi']) & (df['height'] >= df['height'].quantile(0.025)) & (df['height'] <= df['height'].quantile(0.975)) & (df['weight'] >= df['weight'].quantile(0.025)) & (df['weight'] <= df['weight'].quantile(0.975))]
    

    # 12
    corr = df_heat.corr()

    # 13
    mask = np.triu(np.ones_like(corr, dtype=bool))    

    # 14
    fig, ax = plt.subplots(figsize=(12, 10), dpi=120) 

     # 15
    sns.heatmap(
        corr,
        mask=mask,                 
        annot=True,               
        fmt=".2f",
        vmin=-1, vmax=1, center=0, 
        cmap="coolwarm",
        square=True,
        linewidths=.5,
        cbar_kws={"shrink": .75, "label": "Pearson r"},
        ax=ax
    )

     # 16
    fig.savefig('heatmap.png')
    return fig